<style>
#codeing_wiki_nav{
    background:red;
    font-weight:bold;
    color:white;
    }
    style="width:40%;height:40px; text-align:center;"
</style>
{% extends 'base.html' %}
{% block content %}
        <div class="container-fluid">
            <nav>
                <div style="padding:200px 0px;">
                    <h1 style="text-align:center; color:blue; font-weight:bold">CODEINGWIKI</h1>
                    <form action="/wiki/search" style="text-align:center;" method="GET">
                        <div class="row">
                            <div>
                                <div>
                                    <div style="margin-top: 10px;">
                                        <input style="width:40%;height:40px; text-align:center;" type="text" name="q" value="{{ q }}"
                                             placeholder="검색어를 입력해주세요.">
                                         <button style="height:40px; text-align:center;" type="submit">검색</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </nav>
            {% if request.session.sessionid == None %}
            {% else %}
            <a href="post" class="btn btn-primary">
                위키 작성하기
            </a>
             {% endif %}
            </div>
{% endblock %}